@keyframes float {
    0%, 100% {
        transform: translateY(-1rem);
    }
    50% {
        transform: translateY(0);
    }
}

.about main h1 {
    font-size: large;
}

.about main {
    padding: 1rem;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
}

.about .card {
    max-width: 9rem;
    margin: auto 0.5rem auto 0.5rem;
    min-height: 17rem;
}

.about .card img {
    max-width: 9rem;
    border-radius: 50%;
    animation: float 3s infinite ease-in-out;
}
.card:nth-child(6) img{
    animation-delay: -0.5s;
}
.card:nth-child(5) img{
    animation-delay: -1s;
}
.card:nth-child(4) img{
    animation-delay: -1.5s;
}
.card:nth-child(3) img{
    animation-delay: -2s;
}
.card:nth-child(2) img{
    animation-delay: -2.5s;
}