/* Global */
@font-face {
  font-family: 'Whitney';
  src: url('../fonts/whitney-book.otf');
}

@font-face {
  font-family: 'Uni Sans Heavy';
  src: url("../fonts/Uni Sans Heavy.otf");
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  color: whitesmoke;
  background-color: #26262b;
  font-family: Whitney, "Open Sans",'Helvetica','Lato',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { color: inherit; text-decoration: none; transition: 0.2s ease-in }
a:hover {color: lightskyblue}

/* Scroll bar*/

/* width */
::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
  transition: all 500ms ease-in;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  transition: all 500ms ease-in;
  background-color: #adadad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}