/* Global */
@font-face {
  font-family: 'Whitney';
  src: url('../fonts/whitney-book.otf');
}

@font-face {
  font-family: 'Uni Sans Heavy';
  src: url("../fonts/Uni Sans Heavy.otf");
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  color: whitesmoke;
  background-color: #2C2F33;
  font-family: Whitney, "Open Sans",'Helvetica','Lato',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: lightskyblue;
  text-decoration: none;
  transition: 0.2s ease-in;

}
a:hover {
  color: white
}

main {
  margin: auto;
  max-width: 60rem;
}

h1{
  font-family: "Uni Sans Heavy", sans-serif;
}

/* Scroll bar*/

/* width */
::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242222;
  transition: all 500ms ease-in;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  transition: all 500ms ease-in;
  background-color: #adadad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: lightskyblue;
}