.blog table {
    align-self: center;
    text-align: left;
    margin: auto;
    width: 100%;
    border-collapse:collapse
}

.blog table tr {max-width: 100%}

.blog th, .blog td {
    padding: 0.75rem 0.5rem;
}

.blog th {
    background-color: rgba(0,0,0,0.5);
}

.blog tr:nth-child(2n) {
    background-color: rgba(255,255,255,0.25);
}

.blog img{ max-width: 100%;}

.blog header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog header h1 {
    text-shadow: 0 0 0.5rem black;
}

.blog main {
    align-content: center;
    max-width: 40rem;
}

.display-blog main {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
}