.footer {
    background-color: #23272A;
    padding: 2rem;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer main {
    align-content: center;
}

.footer p{
    text-align: center;
}