.home .splash {
    background: url("https://github.com/team2-4/2-4/blob/master/src/media/images/campfire/0.png?raw=true") no-repeat fixed top center;
}
.home header {
    height: 20rem;
    background: url("https://raw.githubusercontent.com/team2-4/2-4/master/src/media/images/rhythmofthenight.jpg") center bottom no-repeat;
    background-size: cover;
}

@media (min-width: 800px) {
    .home header {display: none !important}
    .home .splash {display: block !important}
}

@media (max-width: 800px) {
    .home .splash {display: none !important;}
    .home header {display: block !important;}
}

.home main {
    background: #000112;
    min-height: 100vh;
    max-width: 100%;
    text-align: center;
}

.home main h1 {
    padding-top: 15rem;
    margin: auto;
    text-align: center;
}

.home main div {
    margin: 0 auto;
    align-content: center;
    max-width: 40rem;
}

.home main p {
    margin: 1rem auto;
    text-align: left;
}

.home main small {
    display: block;
}