/* Navigation bar */
.bar {
    position: sticky;
    font-weight: bold;
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
}

#brand {
    height: auto;
    width: auto;
    max-height: 2rem;
    color: white;
}

#brand:hover {
    text-shadow: -2px 0 2px red, 2px 0 2px cyan;
}

.bar ul {
    list-style-type: none;
    margin: 0 0 1px 0;
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
}

.bar li a {
    transition: 250ms ease-in;
    display: block;
    color: gray;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: 0 solid rgba(0, 0, 0, 0);
    border-bottom-width: 0.2rem;
    text-decoration: none;
}
.bar li:first-child {
    margin: 0 auto 0 0.5rem;
    font-family: "Uni Sans Heavy", sans-serif;
}

.bar li a:hover:not(#brand) {
    color: white;
    border-color: lightskyblue;
}

.bar .active {
    color: white;
    border-color: lightskyblue;
}