/* Content */

.page {
    min-height: 80vh;
}

.page header {
    padding: 5rem 1rem;;
    text-align: center;
}

.page main {
    margin: auto;
    max-width: 50rem;
}

.page section {
    margin: auto;
    max-width: 50rem;
}

.carousel {

}