/* Content */

.page {
    min-height: 80vh;
}

.page header {
    padding: 5rem 1rem;;
    text-align: center;
}

.page main {
    margin: auto;
    max-width: 60rem;
}

.carousel {

}

#logo {
    width: 10rem;
}