.parallax {
    background: url("https://github.com/team2-4/2-4/blob/master/src/media/images/campfire/0.png?raw=true") fixed top center no-repeat;
    width: 100%;
    height: 1080px;
}

.parallax-layer {
    position: relative;
    width: 100%;
}

.layer1 {
    background-size: cover;
    background: url("https://github.com/team2-4/2-4/blob/master/src/media/images/campfire/1.png?raw=true") bottom center no-repeat;
}
.layer2 {

    background: url("https://github.com/team2-4/2-4/blob/master/src/media/images/campfire/2.png?raw=true") bottom center no-repeat;
}
.layer3 {
    background: url("https://github.com/team2-4/2-4/blob/master/src/media/images/campfire/3.png?raw=true") bottom center no-repeat;
}